.default-btn {
    background: var(--arbitrum-blue);
}

.btn {
    letter-spacing: 0px;
    color: #ffffff !important;
    box-sizing: border-box;
    padding: 10px;
}

.default-btn:hover {
    background: linear-gradient(to right,
            #0C7B93,
            #00A8CC);
    font-weight: 500;
}

.default-btn:active {
    border: none;
    box-sizing: border-box;
    overflow: hidden;
}

.secondary-btn {
    background-image: linear-gradient(to right top, #05c3af, #0096a1, #006984, #0e3f5b, #121b2d);
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    border: none;
    text-align: center;
}

.secondary-btn:hover {
    background: #3fdad9;
}