.btn {
    letter-spacing: 0px;
    color: #ffffff !important;
    box-sizing: border-box;
    padding: 10px;
}

.default-btn {
    background: var(--arbitrum-blue);
}

.secondary {
    background: linear-gradient(110deg, #2193A7 25%, #189FD9, #1E84DF 50%, #232374 85%);
    border-radius: 4px;
}


.btn:hover {
    opacity: .8;
}