@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');


:root {
    --main-bg-color: #0C0F13;
    --main-card-color: #1B2028;
    --input-bg-color: #2A3341;
    --main-long: #16BE76;
    --main-short: #E43E53;
    --text-color-green: #84CC16;
    --text-color-purple: #A78BFA;
    --main-card-color-secondary: #32435e;
    --bg-dropdown-list: #1b1c1f;
    --arbitrum-blue: #28a0f0;
    --border-radius-sm: 0.4rem;
    --font-sm: 1.4rem;
    --font-base: 1.5rem;
    --font-md: 1.6rem;
    --font-lg: 2.4rem;
    --font-xl: 3.4rem;
    --font-small: .8rem;
    --font-very-small: .7rem;
    --bg-linear-active: linear-gradient(to right,
            #0C7B93,
            #00A8CC);
}

.shadow {
    box-shadow: rgba(113, 113, 166, 0.2) 0px 7px 29px 0px;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    overflow: hidden;

}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #D62929;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%
}

.blur-bg {
    background-color: rgba(0, 0, 0, .1);
    ;
    box-shadow: 0 0.625rem 1.25rem 0 rgba(113, 113, 166, 0.2);
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    z-index: 1;
}

/* .app-dashboard {
    width: 100%;
    height: 100%;
    background: url("../img/decor-wave-bg.png");
    background-repeat: no-repeat;
    background-position: top right;
} */


.green-color {
    color: var(--text-color-green);
}

.purple-color {
    color: var(--text-color-purple);
}

.green-up {
    color: var(--main-long);
}

.font-small {
    font-size: var(--font-small);
}

.font-very-small {
    font-size: var(--font-very-small);
}

.red-down {
    color: var(--main-short);
}

.bg-input {
    background: var(--input-bg-color);
}

.bg-card {
    background-color: var(--main-card-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    background: #181C27 !important;
}

.active {
    background: var(--bg-linear-active)
}

.heroicon path {
    fill: #00A8CC !important;
}

svg path {
    fill: #ffffff !important;
}


ul {
    list-style: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1c1c1c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 1.5rem;
    border: 1px solid #212121;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4a4a4a;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.rotate180 {
    transform: rotate(180deg);
}

input, .input {
    color: white;
    outline: none;
    background: none;
    border: none;
    padding: 1.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.bg-orange {
    background: #FDC830 !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

button {
    outline: none;
    cursor: pointer;
}

button:disabled,
button.App-cta:disabled {
    cursor: not-allowed;
    opacity: 0.9;
    box-shadow: none;
}

.border {
    border: 1px solid rgba(163, 165, 196, 0.2);
}

.align-right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.muted {
    opacity: 0.7;
}

.strong {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.text-none {
    text-transform: none;
}

.relative {
    position: relative;
}

.margin-bottom {
    margin-bottom: 0.465rem;
}

.transition-arrow {
    vertical-align: middle;
    margin-top: -0.31rem;
}

.label,
.label a {
    color: rgba(255, 255, 255, 0.7);
}


a.plain {
    text-decoration: none;
}

.checkbox:checked:before {
    background-color: green;
}

.default-btn {
    background: var(--arbitrum-blue);
    border-radius: 4px;
    line-height: 2rem;
    font-weight: normal;
    letter-spacing: 0px;
    padding: 0px 10px;
    color: #ffffff !important;
    display: inline-block !important;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    appearance: none;
    text-align: center;
}

@media (min-width: 768px) {
    .default-btn {
        padding: 3px 7px;
    }
}

@media (min-width: 1024px) {
    .default-btn {
        padding: 5px 15px;
    }
}

.show {
    display: block;
}

.notShow {
    display: none;
}

.mobile-hidden {
    display: none;
}

@media (min-width: 1024px) {
    .mobile-hidden {
        display: block;
    }
}


.default-btn:hover {
    background: linear-gradient(to right,
            #0C7B93,
            #00A8CC);
}

/* .default-btn:focus {
  background: #515ed8;
  border: 1px solid #3D4FFE;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
} */

.default-btn:active {
    border: none;
    box-sizing: border-box;
    overflow: hidden;
}

/* .default-btn:active::after {
  opacity: 0.239;
  content: " ";
  width: 5.2rem;
  height: 5.2rem;
  position: absolute;
  left: calc(50% - 2.6rem);
  top: -0.8rem;
  background: white;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
} */


.default-container {
    max-width: 126.4rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    margin: 0 auto;
}

.secondary-btn {
    background-image: linear-gradient(to right top, #05c3af, #0096a1, #006984, #0e3f5b, #121b2d);
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    border: none;
    text-align: center;
}

.secondary-btn:hover {
    background: #3fdad9;
}


.font-sm {
    font-size: var(--font-sm);
}

.font-base {
    font-size: var(--font-base);
}

.mr-base {
    margin-right: 1.5rem;
}

.default-cursor.App-cta {
    cursor: default;
}

.nowrap {
    white-space: nowrap;
}

.gap-right>*:not(:last-child) {
    margin-right: 1rem;
}