.exchange {
    /* height: 100vh; */
}

.infor-bar {
    background: var(--main-card-color);
}

.top-chart {
    font-family: 'Roboto', sans-serif;
}

.top-chart .top-chart-price {
    color: var(--arbitrum-blue);
}