.top-chart {
    font-family: "Roboto", sans-serif;
}

.top-chart .top-chart-price {
    color: var(--arbitrum-blue);
}

@media only screen and (max-width: 640px) {
    .latest-trade {
        height: 20rem;
    }
}

.switcher-group .active {
    color: var(--arbitrum-blue) !important;
    background: none;
}

.range-switcher:hover {
    background: var(--main-card-color);
}