.order-tab {
    display: flex;
    flex-direction: column;
    height: 70px;
}

.order-tab .label {
    text-transform: uppercase;
}

.tab-content {
    height: 75vh;
}

@media only screen and (min-width: 1024px) {
    .tab-content {
        height: 80vh;
    }
}

.main-tab .tab-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    gap: 3px;
}

.main-tab .active-long {
    color: var(--main-long);
    border-top: 2px solid var(--main-long);
    font-weight: 500;
    background: rgba(127, 212, 130, 0.05);
}

.main-tab .active-short {
    color: var(--main-short);
    border-top: 2px solid var(--main-short);
    font-weight: 500;
    background: rgba(161, 69, 69, 0.05);
}
