.vault-detail .banner {
    background: linear-gradient(96.84deg, rgba(98, 126, 234, 0.16) 1.04%, rgba(98, 126, 234, 0.027) 98.99%);
    padding: 40px 0px;
    overflow: hidden;
}

.vault-detail .rank .max {
    background-color: #3d3d47;
}

.vault-detail .card-deposit-vault .card-header {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.vault-detail .deposit-card .btn-group {
    width: 230px;
}

.vault-detail .deposit-card .active {
    background: #6D89ED;
}

.vault-detail .btn-add {
    background-color: #6D89ED;
}