.connect-wallet-btn {
    background: transparent;
    cursor: pointer;
    font-size: 10px;
}

.connect-wallet-btn:hover {
    background: var(--main-border-color);
}

.connect-wallet-btn:active {
    background: var(--dark-blue-active);
}

.connect-wallet-btn .btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.connect-wallet-btn .btn-label {
    font-weight: 600;
    margin-left: 0.8rem;
    letter-spacing: 0;
}