.input-custom {
    position: relative;
}

.input-custom .group-tooltip .tooltip {
    display: none;
}

.input-custom .group-tooltip:hover .tooltip {
    display: block;
    position: absolute;
    top: -2rem;
    left: 0.5rem;
    font-size: small;
}

.input-custom .left-action {
    border-right: 2px solid rgba(163, 165, 196, 0.2);
}