.input-custom {
    position: relative;
}

.input-custom .group-tooltip .tooltip {
    display: none;
}

.input-custom .group-tooltip:hover .tooltip {
    display: block;
    position: absolute;
    top: -2rem;
    left: 0.5rem;
    font-size: small;
}

.input-custom .right-action {
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateX(-50%, -50%);
}