.couple-token {
    position: relative;
}

.couple-token .label {
    color: #fff;
}

.couple-token .dd-couple-token-list {
    position: absolute;
    top: 3.5rem;
    left: 0;
    height: auto;
    width: auto;
    z-index: 9999999999;
    transition: all 0.3s ease-in-out;
}

.couple-token .close {
    opacity: 0;
    transform: scaleY(0);
    animation: growUp 300ms ease-in-out forwards;
    transform-style: flat;
    transform-origin: top;
}

.couple-token .open {
    opacity: 1;
    animation: growDown 200ms ease-in-out forwards;
    transform-style: flat;
    transform-origin: top center;
}

.couple-token .dd-couple-token-item:hover {
    background: var(--main-card-color);
    color: var(--arbitrum-blue);
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes growUp {
    0% {
        transform: scaleY(1);
    }

    80% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(0);
    }
}
