.dd-token {
    width: 100px;
    position: relative;
}

.dd-token-label {
    font-size: 14px;
    padding: 1px 3px;
}

.dd-token-list {
    position: absolute;
    top: 2.5rem;
    right: 0;
    width: 200px;
    background: var(--main-card-color-secondary);

    /* transform-origin: top center */
}

.dd-token-item {
    border-bottom: 1px solid #c4bfbf;
    cursor: pointer;
}

.dd-token-item:hover label {
    color: var(--arbitrum-blue);
}

.dd-token-item:hover .plus {
    color: var(--arbitrum-blue);
}

.dd-token-item:hover .balance {
    color: var(--arbitrum-blue);
}

.dd-token .close {
    opacity: 0;
}

.dd-token .open {
    opacity: 1;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}