.dd-wrapper {
    position: relative;
}

.dd-wrapper .dd-list .dd-list-item:hover {
    background: var(--arbitrum-blue);
}

.dd-wrapper .close {
    opacity: 0;
}

.dd-wrapper .open {
    opacity: 1;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center
}

.dd-wrapper .dd-list {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: auto;
    background: var(--main-card-color-secondary);
    overflow: hidden;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}


@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}