.vault-card {
    height: 30rem;
}

.vault-card .capacity {
    background-color: #25252a;
}

.vault-card .vault-card-header .btn {
    background: #536bc7;
}

.bg-eth {
    background-image: url("../../img/etherium-bg.jpg");
    background-size: cover;
    animation: animationBg 20s ease-in-out infinite;
    -webkit-animation: animationBg 20s ease infinite;
}

.bg-btc {
    background-image: url("../../img/btc-bg.jpg");
    background-size: cover;
    animation: animationBg 20s ease-in-out infinite;
    -webkit-animation: animationBg 20s ease infinite;
}

.bg-doge {
    background-image: url("../../img/doge-bg.jpg");
    background-size: cover;
    animation: animationBg 20s ease-in-out infinite;
    -webkit-animation: animationBg 20s ease infinite;
}

.bg-hover-btc {
    transition: box-shadow 0.25s ease-out 0s, border 0.25s ease-out 0s;
}

.bg-hover-eth {
    transition: box-shadow 0.25s ease-out 0s, border 0.25s ease-out 0s;
}

.bg-hover-doge {
    transition: box-shadow 0.25s ease-out 0s, border 0.25s ease-out 0s;
}

.bg-hover-btc:hover {
    border: 1px solid #000040;
    box-shadow: #000040 0px 13px 27px -5px, #000040 0px 8px 16px -8px;
}

.bg-hover-doge:hover {
    border: 1px solid #c4802d;
    box-shadow: #c4802d 0px 13px 27px -5px, #c4802d 0px 8px 16px -8px;
}

.bg-hover-eth:hover {
    border: 1px solid #7848b8;
    box-shadow: #7848b8 0px 13px 27px -5px, #7848b8 0px 8px 16px -8px;
}

@keyframes animationBg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes animationBg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
